body {
    background: linear-gradient(135deg, #ffffffff, #ffffffff);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.offcanvas-wider {
    --bs-offcanvas-width: 550px;
}
